doctype html
html(lang='en')
	head
		block head
			meta(name="viewport" content="width=device-width, initial-scale=1.0")
			link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap' rel='stylesheet')
			link(rel='stylesheet' type='text/css' href='/public/base-style.css')
			link(rel='icon' href='/public/favicon-64.png')
	body
		block header
			div(class='menu-bar')
				a(href='/' class='menu-element')
					img(src='/public/thumb.png' class='menu-bar-thumb')
					p(class='menu-bar-text') Camagru
		block content
