extends base.pug

append head
	title='Camagru - Register'
block content
	div.main-container.center.solo-container
		h2 Register
		if errorMessage
			p #{errorMessage}
		form(action='/register' method='POST')
			input.center.primary-input(type='text' name='name' placeholder='Name')
			input.center.primary-input(type='text' name='email' placeholder='Email address')
			input.center.primary-input(type='password' name='password' placeholder='Password')
			br
			label.checkbox-label Get email notifications?
				input.checkbox(type='checkbox' name='pref_notify')
			input.center.primary-input.button(type='submit' value='Submit')