extends base.pug

append head
	title='Camagru - Reset Password'
block content
	div.main-container.center.solo-container
		h2 Reset Password
		form(action='/reset' method='POST')
			input.primary-input.center(type='password' name='password' placeholder='Password')
			input.primary-input.center(type='password' name='confirm_password' placeholder='Confirm Password')
			input.primary-input.center.primary-input-button(type='submit')