.main-container {
	max-width: 500px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(228, 228, 228);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: rgba(163, 163, 163, 0.596);
}

.center {
	margin: auto;
	width: 50%;
}

.solo-container {
	margin-top: 20vh;
}

/* .app-container {
	max-width: 600px;
} */

.primary-input {
	display: block;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	width: auto;
}

.primary-input-button {
	cursor: pointer;
}

a:link, a:visited {
	text-decoration: none;
	cursor: auto;
	color: black;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

@media only screen and (max-width: 600px) {
	.main-container {
		width: 100%;
		max-width: 100%;
		border-radius:0px;
	}
}