.main-container {
	max-width: 500px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(228, 228, 228);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: rgba(163, 163, 163, 0.596);
}

.center {
	margin: auto;
	width: 50%;
	max-width: 600px;
}

.solo-container {
	margin-top: 20vh;
}

.menu-bar-static {
	background-color: lightgray;
	border-bottom: 2px solid darkgray;
	position: fixed;
	top:0;
	height:40px;
	width: 100%;
	/* overflow: auto; */
}

.float-right {
	display: block;
	float: right;
	margin:10px;
}

.menu-element {
	margin-left:10px;
	display: block;
	cursor: pointer;
	float:left;

}

.menu-bar-thumb {
	height:auto;
	width:35px;
	float:left;
	margin-left: 10px;
}

.menu-bar-text {
	margin:0px;
	margin-bottom: 1px;
	padding: 12px;
	padding-left: 0px;
	font-family: 'Cookie', cursive;
	font-size: 30px;
	display: inline-block;
}

.primary-input {
	display: block;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	width: auto;
}

.primary-input-button {
	cursor: pointer;
}

.checkbox-label {
	margin: 10px;
}

a:link, a:visited {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

@media only screen and (max-width: 600px) {
	.main-container {
		width: 100%;
		max-width: 100%;
		border-radius:0px;
	}
}